<div class="breadcrumb-area pt-35 pb-35 bg-gray-3" style="margin-top: 56px; background-color: rgb(214, 215, 216);">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a [routerLink]="'home'" style="text-decoration: none;"><i class="fas fa-home"></i> Inicio</a>
                </li>
                <li class="active"><i class="fas fa-gifts"></i> Tienda </li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-95 pb-100">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-12">
                <div class="shop-top-bar">
                    <div class="select-shoing-wrap">
                        <div class="shop-select">
                            <select>
                                <option value="">Ordenar por novedad</option>
                                <option value="">A a Z</option>
                                <option value=""> Z a A</option>
                                <option value="">En stock</option>
                            </select>
                        </div>
                        <p>Mostrando 1–12 de 20 resultados</p>
                    </div>
                    <div class="shop-tab nav">
                        <a class="active" href="#shop-1" data-toggle="tab">
                            <i class="fa fa-table"></i>
                        </a>
                        <a href="#shop-2" data-toggle="tab">
                            <i class="fa fa-list-ul"></i>
                        </a>
                    </div>
                </div>
                <div class="shop-bottom-area mt-35">
                    <div class="tab-content jump">
                        <div id="shop-1" class="tab-pane active">
                            <div class="row">
                                <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img">
                                            <a routerLink="/picap">
                                                <img class="default-img" src="assets/img/product/picap.jpg" alt="Picap">
                                                <img class="hover-img" src="assets/img/product/picap.jpg" alt="Picap">
                                            </a>
                                            <span class="pink">-10%</span>
                                            <div class="product-action">
                                                <div class="pro-same-action pro-wishlist">
                                                    <a title="Favoritos" href="#"><i class="pe-7s-like"></i></a>
                                                </div>
                                                <div class="pro-same-action pro-cart">
                                                    <a title="Agregar" href="#" style="text-decoration: none;"><i class="pe-7s-cart"></i> Agregar </a>
                                                </div>
                                                <div class="pro-same-action pro-quickview">
                                                    <a title="Ver" routerLink="/picap" data-toggle="modal" data-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a routerLink="/picap" style="text-decoration: none;"> Picachu/Capitan America </a></h3>
                                            <div class="product-rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>$ 350.00</span>
                                                <span class="old">$ 450.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img" style="padding: 76px 0px 80px 0px;">
                                            <a routerLink="/organizador">
                                                <img class="default-img" src="assets/img/product/organizador.jpg" alt="Organizador">
                                                <img class="hover-img" src="assets/img/product/organizador.jpg" alt="Organizador" style="padding: 76px 0px 80px 0px;">
                                            </a>
                                            <span class="purple">New</span>
                                            <div class="product-action">
                                                <div class="pro-same-action pro-wishlist">
                                                    <a title="Favoritos" href="#"><i class="pe-7s-like"></i></a>
                                                </div>
                                                <div class="pro-same-action pro-cart">
                                                    <a title="Agregar" href="#" style="text-decoration: none;"><i class="pe-7s-cart"></i> Agregar </a>
                                                </div>
                                                <div class="pro-same-action pro-quickview">
                                                    <a title="Ver" href="#" data-toggle="modal" data-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a routerLink="/organizador" style="text-decoration: none;"> Organizador de escritorio </a></h3>
                                            <div class="product-rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>$ 350.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img" style="padding: 46px 0px 40px 0px;">
                                            <a routerLink="/panter">
                                                <img class="default-img" src="assets/img/product/pantera.jpg" alt="Pantera">
                                                <img class="hover-img" src="assets/img/product/pantera.jpg" alt="Pantera" style="padding: 46px 0px 40px 0px;">
                                            </a>
                                            <span class="pink">-10%</span>
                                            <div class="product-action">
                                                <div class="pro-same-action pro-wishlist">
                                                    <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>
                                                </div>
                                                <div class="pro-same-action pro-cart">
                                                    <a title="Agregar" href="#" style="text-decoration: none;"><i class="pe-7s-cart"></i> Agregar </a>
                                                </div>
                                                <div class="pro-same-action pro-quickview">
                                                    <a title="Ver" routerLink="/panter" data-toggle="modal" data-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a routerLink="/panter" style="text-decoration: none;"> Black Panter </a></h3>
                                            <div class="product-rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>$ 350.00</span>
                                                <span class="old">$ 500.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img" style="padding: 47px 0px 40px 0px;">
                                            <a routerLink="/grogu">
                                                <img class="default-img" src="assets/img/product/yodita.jpg" alt="Grogu">
                                                <img class="hover-img" src="assets/img/product/yodita.jpg" alt="Grogu" style="padding: 47px 0px 40px 0px;">
                                            </a>
                                            <span class="purple">New</span>
                                            <div class="product-action">
                                                <div class="pro-same-action pro-wishlist">
                                                    <a title="Favoritos" href="#"><i class="pe-7s-like"></i></a>
                                                </div>
                                                <div class="pro-same-action pro-cart">
                                                    <a title="Agregar" href="#" style="text-decoration: none;"><i class="pe-7s-cart"></i> Agregar </a>
                                                </div>
                                                <div class="pro-same-action pro-quickview">
                                                    <a title="Ver" routerLink="/grogu" data-toggle="modal" data-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a routerLink="/panter" style="text-decoration: none;"> Baby Yoda </a></h3>
                                            <div class="product-rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>$ 350.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img" style="padding: 47px 0px 40px 0px;">
                                            <a routerLink="/stitch">
                                                <img class="default-img" src="assets/img/product/stitch.jpg" alt="Maceta Stitch">
                                                <img class="hover-img" src="assets/img/product/stitch.jpg" alt="Maceta Stitch" style="padding: 47px 0px 40px 0px;">
                                            </a>
                                            <span class="pink">-10%</span>
                                            <div class="product-action">
                                                <div class="pro-same-action pro-wishlist">
                                                    <a title="Favoritos" href="#"><i class="pe-7s-like"></i></a>
                                                </div>
                                                <div class="pro-same-action pro-cart">
                                                    <a title="Agregar" href="#" style="text-decoration: none;"><i class="pe-7s-cart"></i> Agregar </a>
                                                </div>
                                                <div class="pro-same-action pro-quickview">
                                                    <a title="Ver" routerLink="/stitch" data-toggle="modal" data-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a routerLink="/stitch" style="text-decoration: none;"> Maceta Stitch </a></h3>
                                            <div class="product-rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>$ 400.00</span>
                                                <span class="old">$ 500.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img">
                                            <a routerLink="/cubone">
                                                <img class="default-img" src="assets/img/product/cubone.jpg" alt="Mascara Cubone">
                                                <img class="hover-img" src="assets/img/product/cubone.jpg" alt="Mascara Cubone">
                                            </a>
                                            <span class="purple">New</span>
                                            <div class="product-action">
                                                <div class="pro-same-action pro-wishlist">
                                                    <a title="Favoritos" href="#"><i class="pe-7s-like"></i></a>
                                                </div>
                                                <div class="pro-same-action pro-cart">
                                                    <a title="Agregar" href="#" style="text-decoration: none;"><i class="pe-7s-cart"></i> Agregar </a>
                                                </div>
                                                <div class="pro-same-action pro-quickview">
                                                    <a title="Ver" routerLink="/cubone" data-toggle="modal" data-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a routerLink="/cubone" style="text-decoration: none;"> Mascara Cubone </a></h3>
                                            <div class="product-rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>$ 360.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 col-lg-4 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img" style="padding: 52px 0px 45px 0px;">
                                            <a routerLink="/soporteMulti">
                                                <img class="default-img" src="assets/img/product/soporte.jpg" alt="Soporte Multi">
                                                <img class="hover-img" src="assets/img/product/soporte.jpg" alt="Soporte Multi" style="padding: 52px 0px 45px 0px;">
                                            </a>
                                            <span class="pink">-10%</span>
                                            <div class="product-action">
                                                <div class="pro-same-action pro-wishlist">
                                                    <a title="Favoritos" href="#"><i class="pe-7s-like"></i></a>
                                                </div>
                                                <div class="pro-same-action pro-cart">
                                                    <a title="Agregar" href="#" style="text-decoration: none;"><i class="pe-7s-cart"></i> Agregar </a>
                                                </div>
                                                <div class="pro-same-action pro-quickview">
                                                    <a title="Ver" routerLink="/soporteMulti" data-toggle="modal" data-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a routerLink="/soporteMulti" style="text-decoration: none;"> Soporte Multidireccional </a></h3>
                                            <div class="product-rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>$ 560.00</span>
                                                <span class="old">$ 760.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img" style="padding: 150px 0px 100px 0px;">
                                            <a routerLink="/soporteFijo">
                                                <img class="default-img" src="assets/img/product/soportefijo.jpg" alt="Soporte Fijo">
                                                <img class="hover-img" src="assets/img/product/soportefijo.jpg" alt="Soporte Fijo" style="padding: 150px 0px 100px 0px;">
                                            </a>
                                            <span class="purple">New</span>
                                            <div class="product-action">
                                                <div class="pro-same-action pro-wishlist">
                                                    <a title="Favoritos" href="#"><i class="pe-7s-like"></i></a>
                                                </div>
                                                <div class="pro-same-action pro-cart">
                                                    <a title="Agregar" href="#" style="text-decoration: none;"><i class="pe-7s-cart"></i> Agregar </a>
                                                </div>
                                                <div class="pro-same-action pro-quickview">
                                                    <a title="Ver" routerLink="/soporteFijo" data-toggle="modal" data-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a routerLink="/soporteFijo" style="text-decoration: none;"> Soporte Fijo Para Celular </a></h3>
                                            <div class="product-rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>$ 260.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-4 col-lg-4 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img" style="padding: 65px 0px 60px 0px;">
                                            <a routerLink="/portaHiso">
                                                <img class="default-img" src="assets/img/product/portahisopos.jpg" alt="Portahisopos">
                                                <img class="hover-img" src="assets/img/product/portahisopos.jpg" alt="Portahisopos" style="padding: 52px 0px 45px 0px;">
                                            </a>
                                            <span class="pink">-10%</span>
                                            <div class="product-action">
                                                <div class="pro-same-action pro-wishlist">
                                                    <a title="Favoritos" href="#"><i class="pe-7s-like"></i></a>
                                                </div>
                                                <div class="pro-same-action pro-cart">
                                                    <a title="Agregar" href="#" style="text-decoration: none;"><i class="pe-7s-cart"></i> Agregar </a>
                                                </div>
                                                <div class="pro-same-action pro-quickview">
                                                    <a title="Ver" routerLink="/portaHiso" data-toggle="modal" data-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a routerLink="/portaHiso" style="text-decoration: none;"> Porta Hisopos/Desmaquillantes </a></h3>
                                            <div class="product-rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>$ 260.00</span>
                                                <span class="old">$ 360.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="shop-2" class="tab-pane">
                            <div class="shop-list-wrap mb-30 scroll-zoom">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-5 col-md-5 col-sm-6">
                                        <div class="product-wrap">
                                            <div class="product-img">
                                                <a [routerLink]="'/picap'">
                                                    <img class="default-img" src="assets/img/product/picap.jpg" alt="Picap">
                                                    <img class="hover-img" src="assets/img/product/picap.jpg" alt="Picap">
                                                </a>
                                                <span class="pink">-10%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-8 col-lg-7 col-md-7 col-sm-6">
                                        <div class="shop-list-content">
                                            <h3><a [routerLink]="'/picap'" style="text-decoration: none;"> Picachu/Capitan America </a></h3>
                                            <div class="product-list-price">
                                                <span>$ 350.00</span>
                                                <span class="old">$ 450.00</span>
                                            </div>
                                            <div class="rating-review">
                                                <div class="product-list-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <!-- <a href="#">3 Reviews</a> -->
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consecteto adipisic elit eiusm tempor incidid ut labore et dolore magna aliqua Ut enim ad minim </p>
                                            <div class="shop-list-btn btn-hover">
                                                <a href="#" style="text-decoration: none;"> AGREGAR </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-list-wrap mb-30 scroll-zoom">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-5 col-md-5 col-sm-6">
                                        <div class="product-wrap">
                                            <div class="product-img">
                                                <a routerLink="/organizador">
                                                    <img class="default-img" src="assets/img/product/organizador.jpg" alt="Organizador">
                                                    <img class="hover-img" src="assets/img/product/organizador.jpg" alt="Organizador">
                                                </a>
                                                <span class="purple">New</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-8 col-lg-7 col-md-7 col-sm-6">
                                        <div class="shop-list-content">
                                            <h3><a routerLink="/organizador"> Organizador de Escritorio </a></h3>
                                            <div class="product-list-price">
                                                <span>$ 350.00</span>
                                            </div>
                                            <div class="rating-review">
                                                <div class="product-list-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <!-- <a href="#">3 Reviews</a> -->
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consecteto adipisic elit eiusm tempor incidid ut labore et dolore magna aliqua Ut enim ad minim </p>
                                            <div class="shop-list-btn btn-hover">
                                                <a href="#"> AGREGAR </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-list-wrap mb-30 scroll-zoom">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-5 col-md-5 col-sm-6">
                                        <div class="product-wrap">
                                            <div class="product-img">
                                                <a routerLink="/panter">
                                                    <img class="default-img" src="assets/img/product/pantera.jpg" alt="">
                                                    <img class="hover-img" src="assets/img/product/pantera.jpg" alt="">
                                                </a>
                                                <span class="pink">-20%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-8 col-lg-7 col-md-7 col-sm-6">
                                        <div class="shop-list-content">
                                            <h3><a routerLink="/panter"> Black Panter </a></h3>
                                            <div class="product-list-price">
                                                <span>$ 350.00</span>
                                                <span class="old">$ 500.00</span>
                                            </div>
                                            <div class="rating-review">
                                                <div class="product-list-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <!-- <a href="#">3 Reviews</a> -->
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consecteto adipisic elit eiusm tempor incidid ut labore et dolore magna aliqua Ut enim ad minim </p>
                                            <div class="shop-list-btn btn-hover">
                                                <a href="#"> AGREGAR </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-list-wrap mb-30 scroll-zoom">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-5 col-md-5 col-sm-6">
                                        <div class="product-wrap">
                                            <div class="product-img">
                                                <a routerLink="/grogu">
                                                    <img class="default-img" src="assets/img/product/yodita.jpg" alt="Grogu">
                                                    <img class="hover-img" src="assets/img/product/yodita.jpg" alt="Grogu">
                                                </a>
                                                <span class="purple">New</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-8 col-lg-7 col-md-7 col-sm-6">
                                        <div class="shop-list-content">
                                            <h3><a routerLink="/grogu"> Baby Yoda </a></h3>
                                            <div class="product-list-price">
                                                <span>$ 350.00</span>
                                            </div>
                                            <div class="rating-review">
                                                <div class="product-list-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <!-- <a href="#">3 Reviews</a> -->
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consecteto adipisic elit eiusm tempor incidid ut labore et dolore magna aliqua Ut enim ad minim </p>
                                            <div class="shop-list-btn btn-hover">
                                                <a href="#"> AGREGAR </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pro-pagination-style text-center mt-30">
                        <ul>
                            <li><a class="prev" href="#"><i class="fa fa-angle-double-left"></i></a></li>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a class="next" href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
