.jumbotron {
    background-color:rgb(206, 204, 204);
    margin-bottom: 0px;
}

.suppoer-area {
    background-color: rgb(223, 219, 219);
}

.product-area {
    background-color: rgb(223, 219, 219);
}

.modal-dialog {
    width: 500px;
}