<div class="container">
    <div class="row">
        <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6">
            <div class="container-info">
                <h3 class="animated">Nuestros Productos</h3>
                <h1 class="animated">Te inivitamos a que pases por nuestra Tienda <br></h1>
                <div class="slider-btn btn-hover">
                    <a class="animated" href="shop.html">Tienda ></a>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6">
            <div class="slider-img">
                <img class="animated" src="assets/img/slider/single-slide-1.png" alt="" >
            </div>
        </div> -->
    </div>
</div>